%h3 Заказ из Hragmatic Order отправлен
%p Это сообщение уведомляет Вас, что мы отправили Ваш недавний заказ:
%table
  %tr
    %th{:colspan => "2"} Кол-во
    %th Описание
  = render @order.line_items
